language: python
sudo: false
services:
  - postgresql
addons:
  postgresql: "9.5"
python:
  - 2.7
  - 3.5
  - 3.6
env:
  - DJANGO=1.11
  - DJANGO=2.0
  - DJANGO=2.1
  - DJANGO=master
matrix:
  exclude:
    - { python: 2.7, env: DJANGO=2.0 }
    - { python: 2.7, env: DJANGO=2.1 }
    - { python: 2.7, env: DJANGO=master }
  include:
    - { python: 3.6, env: TOXENV=flake }
    - { python: 3.7, dist: xenial, sudo: required, env: DJANGO=1.11 }
    - { python: 3.7, dist: xenial, sudo: required, env: DJANGO=2.0 }
    - { python: 3.7, dist: xenial, sudo: required, env: DJANGO=2.1 }
    - { python: 3.7, dist: xenial, sudo: required, env: DJANGO=master }
install:
  - pip install tox-travis coveralls

script:
  - tox

after_script:
  - coveralls
