dist: xenial
language: python
sudo: false
services:
  - postgresql
addons:
  postgresql: "9.5"
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
env:
  - DJANGO=1.11
  - DJANGO=2.1
  - DJANGO=2.2
  - DJANGO=master
matrix:
  exclude:
    - { python: 2.7, env: DJANGO=2.1 }
    - { python: 2.7, env: DJANGO=2.2 }
    - { python: 2.7, env: DJANGO=master }
  include:
    - { python: 3.7, env: TOXENV=flake }
install:
  - pip install tox-travis coveralls

script:
  - tox

after_script:
  - coveralls
