{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block content_title %}<h1>{{ original }}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        {% include 'simple_log/changes_table.html' with object=original %}
    </div>
    {% regroup original.related_logs.all by content_type as related_list %}
    {% for related in related_list %}
        <h1>{{ related.grouper }}</h1>
        {% for log in related.list %}
            <div class="module">
                {% include 'simple_log/changes_table.html' with object=log %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
